/*
h1 {
  color: red;
}
*/

h1 {
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

nav {
  text-align: center; 
}
nav a {
  padding: 10px; background-color: grey
}

#featured-property {
  align-items: center;
}

figcaption {
  font-size: 12px; text-align: center;
}

#featured-property p {
  text-align: center; 
}

#details {
  text-align: horizontal; 
}

div {
  background-color: red; text-align: center;
}